@model SklepInternetowy.WWW.Models.ViewModels.KoszykViewModel

@{
    ViewData["Title"] = "Koszyk";
}

<style>
    .button-link {
        display: inline-block;
        background: linear-gradient(to right, #1a1a1a, #2c2c2c, #4d4d4d, #666666);
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-top: 10px;
        min-width: 490px;
    }

        .button-link:hover {
            background: linear-gradient(to right, #333, #444, #666, #888);
            color: #fff;
        }

    .button-kod-promo {
        display: inline-block;
        background: linear-gradient(to right, #f0f0f0, #fff);
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .button-kod-promo:hover {
            background: linear-gradient(to right, #333, #444, #666, #888);
            color: #fff;
        }

    .background-gardient {
        background: linear-gradient(to right, #f0f0f0, #fff);
    }
    
    
    body {
      margin: 32px;
    }
    
    .btn {
      display: flex;
      align-items: center;
      background: none;
      border: 1px solid lighten(gray, 24%);
      height: 48px;
      padding: 0 24px 0 16px;
      letter-spacing: .25px;
      border-radius: 24px;
      cursor: pointer;
      
      &:focus {
        outline: none;
      }
      
      .mdi {
        margin-right: 8px;
      }
    }
    
    .btn-delete {
      font-size: 16px;
      color: red;
      
      >.mdi-delete-empty {
        display: none;
      }
    }

</style>

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-1"></div>
        <div class="col">
            <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Sklep" asp-action="Sklep">Wroc do sklepu</a>
        </div>
    </div>
</div>

<div class="text-center">
    <h2 class="display-4 mb-4">Koszyk</h2>
</div>

<div id="cartContent" class="container">
    @if (Model.ElementyKoszyka.Count > 0)
    {
        <ul class="list-group container">
            @foreach (var elementKoszyka in Model.ElementyKoszyka)
            {
                <li class="list-group-item background-gardient">
                    <div class="mb-4 background-gardient" style="display: flex; flex-direction: row">
                        <div class="background-gardient" style="width: 90%">
                            <h5 class="card-title">@elementKoszyka.TowarNazwa</h5>
                            <p class="card-text">Ilość: @elementKoszyka.Ilosc</p>
                            <p class="card-text">Cena: @elementKoszyka.TowarCena €</p>
                        </div>
                        <div class="col-3 text-center" style="width: 10%">
                            <a asp-action="DeleteFromCart" asp-route-id="@elementKoszyka.IdTowaru" asp-controller="Koszyk" class="btn btn-delete">Delete</a>
                        </div>
                    </div>
                </li>
            }
        </ul>

        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col-1"></div>
                <div class="col-md-2 ml-3">
                    <label for="znizkaInput"></label>
                    <input type="text" id="znizkaInput" name="znizkaInput" placeholder="Kod promocyjny"/>
                    <a id="dodajKodRabatowyButton" class="button-kod-promo mt-1">Dodaj kod rabatowy</a>
                </div>
                <div class="col"></div>
                <div class="col-md-2">
                    <label class="fw-bold">Suma: </label>
                    @if (Model.znizka == null)
                    {
                        <span>@Model.suma €</span>
                    }
                    else
                    {
                        <span>@Model.sumaPoZnizce €</span>
                    }
                </div>
                <div class="col-md-2">
                    <label class="fw-bold">Twoj rabat: </label>
                    @if (Model.znizka == null)
                    {
                        <span>@Model.znizkaInit %</span>
                    }
                    else
                    {
                        <span>@Model.znizka %</span>
                    }
                </div>
            </div>
        </div>

        <div class="text-center">
            <a asp-action="ZlozZamowienie" asp-controller="Zamowienia" class="button-link">Zloz zamowienie</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>Twoj koszyk jest pusty!</p>
        </div>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dodajKodRabatowyButton = document.getElementById('dodajKodRabatowyButton');

        dodajKodRabatowyButton.addEventListener('click', function () {
            var znizkaInputValue = document.getElementById('znizkaInput').value;
            var url = '@Url.Action("DodajKodRabatowy", "Zamowienia")' + '?id=' + znizkaInputValue;
            window.location.href = url;
        });
    });
</script>