@model List<Zamowienie>
@using SklepInternetowyServiceReference

@{
    ViewData["Title"] = "Moje Zamowienia";
}

<style>

    body {
        background: url('https://tse2.mm.bing.net/th?id=OIP.xo7kJ5SSq8_ecPGLwiyUuAHaET&pid=Api&P=0&h=220');
        background-size: cover;
    }

    .background-transient {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .list-group {
        box-shadow: none;
    }

    .button-link {
        display: inline-block;
        background: #3498db;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-top: 10px;
        font-weight: 600;
    }

        .button-link:hover {
            background: #2980b99c;
            color: #fff;
            font-weight: 600;
        }

    .background-gardient {
        background: linear-gradient(to right, #f0f0f0, #fff);
    }

</style>
<div class="card p-5 background-transient">
    <div class="container">
        <div class="row mt-3">
            <a class="col-2 text-dark fw-bold mb-4 btn btn-warning" asp-area="" asp-controller="Sklep" asp-action="Sklep">Wroc do sklepu</a>
        </div>
    </div>

 
    <div class="card p-4">
        <div class="text-center mb-3">
            <h3 class="display-4">Moje Zamowienia</h3>
        </div>
        <div id="cartContent" class="container pe-lg-5">
        @if (Model.Count > 0)
        {
            <ul class="list-group container">
                @foreach (var zamowienie in Model)
                {
                    <li class="list-group-item background-gardient mb-4">
                        <div class="background-gardient">
                            <div class="background-gardient">
                                <h5 class="card-title">Data zlozenia: @zamowienie.DataZamowienia</h5>
                                <p class="card-text">Numer zamowienia: @zamowienie.IdZamowienia</p>
                                <p class="card-text">Wartosc lacznie: @zamowienie.Suma €</p>
                                <p class="card-text">Przewidywany termin dostawy: @zamowienie.TerminDostawy</p>
                            </div>
                            <a asp-action="OtworzSzczegoly" asp-controller="Zamowienia" asp-route-id="@zamowienie.IdZamowienia" class="button-link">Szczegoly...</a>
                        </div>

                    </li>

                }
            </ul>
        }
        else
        {
            <div class="text-center">
                <p>Nie masz zadnych zamowien!</p>
            </div>
        }
    </div>
    </div>

</div>
