@model List<SklepInternetowyServiceReference.Towar>

@using SklepInternetowyServiceReference
@{
    ViewData["Title"] = "Strona glowna";
}

<style>
    .card {
        height: 400px;
        padding-top: 10px;
    }

    .card-img-top {
        object-fit: contain;
        max-height: 200px;
        max-width: 100%;
    }

    .card-body {
        height: 200px;
    }

    .button {
        background: linear-gradient(to right, #1a1a1a, #2c2c2c, #4d4d4d, #666666);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-top: 20px;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Sklep</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var towar in Model)
        {
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="@towar.ZdjecieUrl" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@towar.Nazwa</h5>
                        <p class="card-text">Cena: @towar.Cena</p>
                        <a href="#" onclick="showDetails('@towar.IdTowaru')">Szczegoly...</a><br>
                        <button class="button" onclick="addToCart('@towar.IdTowaru')">Dodaj do koszyka</button>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function addToCart(towarId) {
        // Implement
        alert('Product added to cart: ' + towarId);
    }

    function showDetails(towarId) {
        // Implement
        alert('Product details: ' + towarId);
    }
</script>
