@model Towar

@using SklepInternetowyServiceReference
@{
    ViewData["Title"] = "Szczegoly towaru";
}

<style>
    .card-img {
        object-fit: contain;
        max-height: 300px;
        max-width: 100%;
    }

    body {
        background: linear-gradient(to right, #f0f0f0, #fff);
    }
</style>

<div class="container">
    <div class="row mt-3 mb-3">
        <a class="col-2 text-dark fw-bold mb-4 btn btn-light" asp-area="" asp-controller="Sklep" asp-action="Sklep">Wroc do sklepu</a>
    </div>
</div>

<div class="card">
    <img class="card-img mt-4" src="@Model.ZdjecieUrl" alt="Product Image"/>

    <div class="card-body">
        <h2>@Model.Nazwa</h2>

        <div>
            <p>Opis towaru:</p>
            <p>@Model.Opis</p>
        </div>

        <div>
            <p>Kod towaru:</p>
            <p>@Model.Kod</p>
        </div>

        <div>
            <p>Cena:</p>
            <p>@Model.Cena €</p>
        </div>

        <a asp-action="DodajDoKoszyka" asp-controller="Koszyk" asp-route-id="@Model.IdTowaru" class="btn btn-success mt-3">Dodaj do koszyka</a>

    </div>
</div>
