@model List<Towar>
@inject SklepInternetowy.WWW.Services.CartService CartService
@using SklepInternetowyServiceReference
@{
    ViewData["Title"] = "Strona glowna";
}

<style>
    .card {
        height: 400px;
        padding-top: 10px;
    }

    .card-img-top {
        object-fit: contain;
        max-height: 200px;
        max-width: 100%;
    }

    .card-body {
        height: 200px;
    }

    .button-link {
        display: inline-block;
        background: linear-gradient(to right, #1a1a1a, #2c2c2c, #4d4d4d, #666666);
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;          
        margin-top:10px;
    }

        .button-link:hover {
            background: linear-gradient(to right, #333, #444, #666, #888);
            color: #fff;
        }

</style>

<div class="text-center">
    <h1 class="display-4">Sklep</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var towar in Model)
        {
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="@towar.ZdjecieUrl" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@towar.Nazwa</h5>
                        <p class="card-text">Cena: @towar.Cena €</p>
                        <a asp-action="OtworzSzczegoly" asp-controller="Sklep" asp-route-id="@towar.IdTowaru">Szczegoly...</a>
                        <br>
                        <a asp-action="DodajDoKoszyka" asp-controller="Koszyk" asp-route-id="@towar.IdTowaru" class="button-link">Dodaj do koszyka</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



