@model List<Towar>
@inject SklepInternetowy.WWW.Services.CartService CartService
@inject UserService UserService
@using SklepInternetowyServiceReference
@using SklepInternetowy.WWW.Services
@{
    ViewData["Title"] = "Strona glowna";
}

<style>
    body {
        background: linear-gradient(to right, #f0f0f0, #fff);
        color: #333;
    }

    .card-img-top {
        object-fit: contain;
        max-height: 150px;
        max-width: 100%;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Sklep</h1>
</div>

<div class="container">

        @if (UserService.IsAdmin)
        {
        <div>
            <a asp-action="DodajProdukt" asp-controller="Sklep" class="btn btn-info btn-lg col-3 mb-4">Dodaj nowy</a>
        </div>
        }
 
    <div class="row mt-4">
        @foreach (var towar in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@towar.ZdjecieUrl" class="card-img-top mt-4" alt="Product Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">@towar.Nazwa</h5>
                        <p class="card-text">Cena: @towar.Cena €</p>
                        <a asp-action="OtworzSzczegoly" asp-controller="Sklep" asp-route-id="@towar.IdTowaru">Szczegoly...</a>
                        <br>
                        <a asp-action="DodajDoKoszyka" asp-controller="Koszyk" asp-route-id="@towar.IdTowaru" class="btn btn-light mt-3">Dodaj do koszyka</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>