@{
    var notification = TempData["Notification"] != null ?
        (Notification)JsonConvert.DeserializeObject<Notification>(TempData["Notification"]!.ToString()!)! : null;
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
}
@using SklepInternetowy.WWW.Services
@using Newtonsoft.Json
@inject UserService userService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SklepInternetowy.WWW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SklepInternetowy.WWW.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    <style>
        .background-gardient{
            background: linear-gradient(to right, #f0f0f0, #fff);
        }

        .navbar {
            background: #f0f0f0;
        }

        li{        
            margin-left:100px;
            font-weight: 600;
            color: #fff;
        }

        .center{
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (userService.IsUserSignedIn)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark @(controller == "Sklep" && action == "Sklep" ? "active" : "") " asp-area="" asp-controller="Sklep" asp-action="Sklep">Sklep</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(controller == "Koszyk" && action == "Koszyk" ? "active" : "") " asp-area="" asp-controller="Koszyk" asp-action="Koszyk">Koszyk</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(controller == "Zamowienia" && action == "Zamowienia" ? "active" : "") " asp-area="" asp-controller="Zamowienia" asp-action="Zamowienia">Moje zamowienia</a>
                        </li>
                    }
                    <div class="ms-auto"><partial name="_LoginPartial"/></div>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - SklepInternetowy Privacy
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/toastr.js/toastr.min.js"></script>

@if (notification != null)
{
    <script> 
       toastr["@notification.Type"]("@notification.Message")
    </script>
}
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>